# Przed pierwszym startem przeczytaj i zaakceptuj Minecraft EULA:
# https://aka.ms/MinecraftEULA
MINECRAFT_EULA=true

# Ustawienia serwera
MINECRAFT_PORT=25565
MINECRAFT_TYPE=PAPER
MINECRAFT_VERSION=LATEST
MINECRAFT_MEMORY=4G
MINECRAFT_DB_NAME=minecraft
MINECRAFT_DB_USER=minecraft
TZ=Europe/Warsaw
